@media (max-width: 1024px) {
  /*Header =============================== */
  header {
    padding: 5rem 3rem;
  }

  .toggle-button {
    cursor: pointer;
    display: initial;
  }

  .header__menu {
    width: 100%;
    display: none;
    padding-bottom: 3rem;
  }

  header .header__title {
    width: 100%;
    font-size: 1.5rem;
  }
  /*================================================= */
  /*Pontos Turisticos =============================== */
  /*================================================= */
  .turismo {
    width: 100vw;
  }
  .turismo__cidade {
    flex-direction: column;
  }
  .turismo__cidade > img {
    width: 100%;
  }
  .turismo_descricao {
    width: 95%;
  }
}
